<div class="frame">
  <form>
    <div>
      <h1>{{title}}</h1>
      <hr>
    </div>
    <!--For student ID-->
    <div class="customDesign">
      <label for="sID">Student ID: </label>
      <input type="text" id="sID" name="sID" placeholder="Enter Student ID" #eid (keyup)="emailGenarate(eid.value)" [(ngModel)]="studentID">
    </div>

    <!--For student NAME-->
    <div class="customDesign">
      <label for="sName">Student Name: </label>
      <input type="text" id="sName" name="sName" placeholder="Enter Student Name" [(ngModel)]="studentName" >
    </div>

    <!--For student DEPARTMENT-->
    <div class="customDesign">
      <!--<label for="sDepartment">Student Department: </label>
      <input type="text" id="sDepartment" name="sDepartment" [(ngModel)]="studentDepartment" >-->

      <label for="sDepartment">Student Department: </label>
      <br>
      <select id="sDepartment" (change)="selectDepartment($event)">
        <option>Choose a Department</option>
        <option *ngFor="let d of departmentList">{{d}}</option>
      </select>
    </div>

    <!--For student Semester-->
    <div class="customDesign">
      <!--<label for="sSemester">Student Semester: </label>
      <input type="text" id="sSemester" name="sSemester" [(ngModel)]="studentSemester" >-->

      <label for="sSemester">Student Semester: </label>
      <br>
      <select id="sSemester" (change)="selectSemester($event)">
        <option>Choose a Semester</option>
        <option *ngFor="let s of semesterList">{{s}}</option>
      </select>
    </div>
    
    <!--For student CGPA-->
    <div class="customDesign">
      <label for="sCGPA">Student CGPA: </label>
      <input type="text" id="sCGPA" name="sCGPA" placeholder="Enter Student CGPA" [(ngModel)]="studentCGPA" >
    </div>

    <!--For student DATE oOF BIRTH-->
    <div class="customDesign">
      <label for="sDOB">Student Date of Birth: </label>
      <input type="text" id="sDOB" name="sDOB" placeholder="Enter Student Date of Birth" [(ngModel)]="studentDOB" >
    </div>


    <!--For student GENDER-->
    <div class="customDesign">
      <!--<label for="sGender">Student Gender: </label>
      <input type="text" id="sGender" name="sGender" [(ngModel)]="studentGender" >-->

      <label for="sGender">Student Gender: </label>
      <br>
      <select id="sGender" (change)="selectGender($event)">
        <option>Choose Gender</option>
        <option *ngFor="let g of genderList">{{g}}</option>
      </select>
    </div>

    <!--For student Religion-->
    <div class="customDesign">
      <!--<label for="sReligion">Student Religion: </label>
      <input type="text" id="sReligion" name="sReligion" [(ngModel)]="studentReligion" >-->

      <label for="sReligion">Student Religion: </label>
      <br>
      <select id="sReligion" (change)="selectReligion($event)">
        <option>Choose Religion</option>
        <option *ngFor="let r of religionList">{{r}}</option>
      </select>
    </div>

    <!--For student Address-->
    <div class="customDesign">
      <label for="sAddress">Student Address: </label>
      <input type="text" id="sAddress" name="sAddress" placeholder="Enter Student Address" [(ngModel)]="studentAddress" >
    </div>

    <!--For student EMAIL (auto generate)-->
    <div class="customDesign">
      <label for="sEmail">Student Email: </label>
      <input type="text" id="sEmail" name="sEmail" value={{studentEmail}} disabled=true [(ngModel)]="studentEmail" >
    </div>
    
    <!--For student PhoneNo-->
    <div class="customDesign">
      <label for="sPhoneNo">Student Phone Number: </label>
    <input type="text" id="sPhoneNo" name="sPhoneNo" placeholder="Enter Student PhoneNo" [(ngModel)]="studentPhoneNo" >
    </div>

    <!--For insert student all information into a table-->
    <div class="container">
      <button type="button" (click)="SaveInformation();">Submit</button>
    </div>
  </form>
  <hr>
</div>

<div class="frame">
  <table class="customTable">
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>Department</th>
      <th>Semester</th>
      <th>CGPA</th>
      <th>DOB</th>
      <th>Gender</th>
      <th>Religion</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
    <tr *ngFor="let StudentInformation of StudentInformation">
      <td>{{StudentInformation.studentID}}</td>
      <td>{{StudentInformation.studentName}}</td>
      <td>{{StudentInformation.studentDepartment}}</td>
      <td>{{StudentInformation.studentSemester}}</td>
      <td>{{StudentInformation.studentCGPA}}</td>
      <td>{{StudentInformation.studentDOB}}</td>
      <td>{{StudentInformation.studentGender}}</td>
      <td>{{StudentInformation.studentReligion}}</td>
      <td>{{StudentInformation.studentAddress}}</td>
      <td>{{StudentInformation.studentEmail}}</td>
      <td>{{StudentInformation.studentPhoneNo}}</td>
    </tr>
  </table>
</div>
